@model Haver.ViewModels.EmployeeVM

<div class="standard-page-header">
    <a asp-action="Details">Back to Account Details</a>
    <h1>Edit Account Details</h1>
    <h4>@User.Identity.Name</h4>
    <div class="text-danger">@TempData["message"]</div>
    <nav class="main-nav navbar-expand-sm navbar-toggleable-sm">
        <hr />
    </nav>
</div>



<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            @{
                var hasPicture = (Model.EmployeePhoto?.Content != null);
                if (hasPicture)
                {
                    @:<div>
                        string imageBase64 = Convert.ToBase64String(Model.EmployeePhoto.Content);
                        string imageSrc = string.Format("data:" + Model.EmployeePhoto.MimeType + ";base64,{0}", imageBase64);
                        <img src="@imageSrc" alt="Profile Picture of @Model.FullName" title="Profile Picture of @Model.FullName" class="img-fluid rounded emp-image" />
                    @:</div><hr />
                }
            }
            <div>
                @{
                    if (hasPicture)
                    {
                        <div class="row">
                            <div class="form-check m-3">
                                <input class="form-check-input" type="checkbox" id="chkRemoveImage" name="chkRemoveImage">
                                <label class="form-check-label" for="chkRemoveImage">
                                <strong>Check to remove Image</strong>
                                </label>
                            </div>
                        </div>
                    }
                }
            </div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" name="Email" value="@User.Identity.Name" />
            <div class="form-group">
                <label class="control-label custom-file-label">Profile Picture</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="thePicture">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





