@model IEnumerable<NCR>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="alert alert-warning standard-border-bottom" role="alert">
    Please be informed that our email notification service is currently operating under limitations due to a daily sending cap. To ensure uninterrupted functionality, transitioning to the use of a company email domain is necessary.
</div>

<div>
    <h1>Dashboard</h1>

    <nav class="main-nav navbar-expand-sm navbar-toggleable-sm">
        <hr />
    </nav>
</div>

<div class="row dashboard-cards">
    <div class="col-md-6 stats-cards-dashboard detailed-cards">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">NCRs in <b>Quality Rep.</b></h5>
                        <div class="time-counters">
                            <a asp-controller="NCR" asp-action="Index" asp-route-SelectedOption="Quality Representative">
                                <p class="card-text">@ViewBag.QualTotal</p><span>Total</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="24h" asp-route-SelectedOption="Quality Representative">
                                <p class="card-text">@ViewBag.Qual24</p><span>24h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="48h" asp-route-SelectedOption="Quality Representative">
                                <p class="card-text">@ViewBag.Qual48</p><span>48h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="+3d" asp-route-SelectedOption="Quality Representative">
                                <p class="card-text">@ViewBag.Qual5</p><span>+3d</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">NCRs in <b>Engineering</b></h5>
                        <div class="time-counters">
                            <a asp-controller="NCR" asp-action="Index" asp-route-SelectedOption="Engineering">
                                <p class="card-text">@ViewBag.EngTotal</p><span>Total</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="24h" asp-route-SelectedOption="Engineering">
                                <p class="card-text">@ViewBag.Eng24</p><span>24h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="48h" asp-route-SelectedOption="Engineering">
                                <p class="card-text">@ViewBag.Eng48</p><span>48h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="+3d" asp-route-SelectedOption="Engineering">
                                <p class="card-text">@ViewBag.Eng5</p><span>+3d</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">NCRs in <b>Operations</b></h5>
                        <div class="time-counters">
                            <a asp-controller="NCR" asp-action="Index" asp-route-SelectedOption="Operations">
                                <p class="card-text">@ViewBag.OperTotal</p><span>Total</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="24h" asp-route-SelectedOption="Operations">
                                <p class="card-text">@ViewBag.Oper24</p><span>24h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="48h" asp-route-SelectedOption="Operations">
                                <p class="card-text">@ViewBag.Oper48</p><span>48h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="+3d" asp-route-SelectedOption="Operations">
                                <p class="card-text">@ViewBag.Oper5</p><span>+3d</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">NCRs in <b>Procurement</b></h5>
                        <div class="time-counters">
                            <a asp-controller="NCR" asp-action="Index" asp-route-SelectedOption="Procurement">
                                <p class="card-text">@ViewBag.ProcTotal</p><span>Total</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="24h" asp-route-SelectedOption="Procurement">
                                <p class="card-text">@ViewBag.Proc24</p><span>24h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="48h" asp-route-SelectedOption="Procurement">
                                <p class="card-text">@ViewBag.Proc48</p><span>48h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="+3d" asp-route-SelectedOption="Procurement">
                                <p class="card-text">@ViewBag.Proc5</p><span>+3d</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">NCRs in <b>Reinspection</b></h5>
                        <div class="time-counters">
                            <a asp-controller="NCR" asp-action="Index" asp-route-SelectedOption="Reinspection">
                                <p class="card-text">@ViewBag.ReinspTotal</p><span>Total</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="24h" asp-route-SelectedOption="Reinspection">
                                <p class="card-text">@ViewBag.Reinsp24</p><span>24h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="48h" asp-route-SelectedOption="Reinspection">
                                <p class="card-text">@ViewBag.Reinsp48</p><span>48h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="+3d" asp-route-SelectedOption="Reinspection">
                                <p class="card-text">@ViewBag.Reinsp5</p><span>+3d</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Active NCRs</h5>
                        <div class="time-counters">
                            <a asp-controller="NCR" asp-action="Index">
                                <p class="card-text">@ViewBag.ActiveTotal</p><span>Total</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="24h">
                                <p class="card-text">@ViewBag.Active24</p><span>24h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="48h">
                                <p class="card-text">@ViewBag.Active48</p><span>48h</span>
                            </a>
                            <a asp-controller="NCR" asp-action="Index" asp-route-ncrsByActiveTime="+3d">
                                <p class="card-text">@ViewBag.Active5</p><span>+3d</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 dashboard-btns">
        <div class="row">
            <div class="col-md-12">
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-primary" asp-area="" asp-controller="Lookup" asp-action="Index"><i class="bi bi-file-earmark-spreadsheet"></i>Lookups</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Employee" asp-action="Index"><i class="bi bi-person"></i>Employees</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="NCR" asp-action="CreateQualityRepresentative"><i class="bi bi-pencil-square"></i>Create NCR</a>
                    <a class="btn btn-secondary app-actions" asp-area="" asp-controller="NCR" asp-action="Index"><i class="bi bi-card-list"></i>NCR Log</a>
                    <a class="btn btn-secondary app-actions" asp-area="" asp-controller="Employee" asp-action="Create"><i class="bi bi-person-plus"></i>Create Employee</a>
                    <a class="btn btn-secondary app-actions" asp-area="" asp-controller="NCR" asp-action="Analytics"><i class="bi bi-bar-chart"></i>Analytics</a>
                }
                else if (User.IsInRole("Procurement") || User.IsInRole("Engineer") || User.IsInRole("Operations Manager") || User.IsInRole("Quality Inspector"))
                {
                    <a class="btn btn-primary disabled" asp-area="" asp-controller="Lookup" asp-action="Index" aria-disabled="true"><i class="bi bi-file-earmark-spreadsheet"></i>Lookups</a>
                    <a class="btn btn-primary disabled" asp-area="" asp-controller="Employee" asp-action="Index" aria-disabled="true"><i class="bi bi-person"></i>Employees</a>
                    @if (User.IsInRole("Quality Inspector"))
                    {
                        <a class="btn btn-primary" asp-area="" asp-controller="NCR" asp-action="CreateQualityRepresentative"><i class="bi bi-pencil-square"></i>Create NCR</a>
                    }
                    else
                    {
                        <a class="btn btn-primary disabled" asp-area="" asp-controller="NCR" asp-action="CreateQualityRepresentative" aria-disabled="true"><i class="bi bi-pencil-square"></i>Create NCR</a>
                    }
                    <a class="btn btn-secondary app-actions" asp-area="" asp-controller="NCR" asp-action="Index"><i class="bi bi-card-list"></i>NCR Log</a>
                    <a class="btn btn-secondary app-actions disabled" asp-area="" asp-controller="Employee" asp-action="Create" aria-disabled="true"><i class="bi bi-person-plus"></i>Create Employee</a>
                    <a class="btn btn-secondary app-actions disabled" asp-area="" aria-disabled="true"><i class="bi bi-bar-chart"></i>Analytics</a>
                }

            </div>
        </div>
    </div>
</div>

<div class="table-box">
    <h4>Recent NCRs</h4>

    <div class="d-none d-lg-block">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>
                        NCR NO.
                    </th>
                    <th>
                        STATUS
                    </th>
                    <th>
                        PHASE
                    </th>
                    <th class="pono-row-header">
                        PO OR PROD NO.
                    </th>
                    <th>
                        SUPPLIER
                    </th>
                    <th>
                        CREATED ON
                    </th>

                    <th></th>
                </tr>
            </thead>

            <tbody class="ncr-list-row">
                @foreach (var item in Model)
                {
                    <tr class="grey-rows">
                        <td class="ncr-num-td">
                            @if (item.NCRNum == null)
                            {
                                <div>0000-000</div>
                            }
                            else
                            {
                                <div>@Html.DisplayFor(modelItem => item.NCRNum)</div>
                            }
                        </td>
                        <td>
                            @if (item.Status == "Active")
                            {
                                <span style="color: var(--green);">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == "Closed")
                            {
                                <span style="color: var(--yellow);">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == "Rejected" || item.Status == "Rejected Again")
                            {
                                <span style="color: var(--red);">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                        </td>
                        <td class="ncr-row-phase">
                            @Html.DisplayFor(modelItem => item.Phase)
                        </td>
                        <td class="pono-row">
                            @Html.DisplayFor(modelItem => item.QualityRepresentative.PoNo)
                        </td>
                        <td class="supplier-name-row">
                            @Html.DisplayFor(modelItem => item.QualityRepresentative.Supplier.SupplierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOnDO)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="NCR" asp-action="Details" asp-route-id="@item.ID"><i class="bi bi-card-list"></i>Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="ncr-cards container-fluid d-block d-lg-none">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        @if (item.NCRNum == null)
                        {
                            <p>0000-000</p>
                        }
                        else
                        {
                            <p>@Html.DisplayFor(modelItem => item.NCRNum)</p>
                        }
                        @if (item.Status == "Active")
                        {
                            <span style="color: var(--green);">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        else if (item.Status == "Closed")
                        {
                            <span style="color: var(--yellow);">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        else if (item.Status == "Rejected" || item.Status == "Rejected Again")
                        {
                            <span style="color: var(--red);">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p><strong>Phase:</strong> @Html.DisplayFor(modelItem => item.Phase)</p>
                                <p><strong>PO Number:</strong> @Html.DisplayFor(modelItem => item.QualityRepresentative.PoNo)</p>
                                <p><strong>Supplier:</strong> @Html.DisplayFor(modelItem => item.QualityRepresentative.Supplier.SupplierName)</p>
                                <p><strong>Created On:</strong> @Html.DisplayFor(modelItem => item.CreatedOn)</p>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" asp-controller="NCR" asp-action="Details" asp-route-id="@item.ID"><i class="bi bi-card-list"></i> Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

