@model IEnumerable<NCR>

@{
    ViewData["Title"] = "Archiving";
}

@{
    var warningAlert = TempData["ArchivingWarningAlert"] as string;
    var infoAlert = TempData["ArchivingInfoAlert"] as string;

    var supplierSelected = ViewData["SupplierSelected"] as string;
    var ncrNumSelected = ViewData["NcrNumSelected"] as string;
}

@if (!string.IsNullOrEmpty(infoAlert)) // Check if the alert message is not empty
{
    <div class="alert alert-primary d-flex align-items-center standard-border-bottom alert-container" role="alert">
        <i class="bi bi-info-circle-fill" style="color: var(--blue);"></i>
        <div>
            @infoAlert
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (!string.IsNullOrEmpty(warningAlert))
{
    <div class="alert alert-warning d-flex align-items-center standard-border-bottom alert-container" role="alert">
        <i class="bi bi-exclamation-triangle-fill" style="color: var(--yellow);"></i>
        <div>
            @warningAlert
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<div>
    <h1>NCR</h1>

    <nav class="main-nav ncr navbar-expand-sm navbar-toggleable-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Index" onclick="activateLink(this)">NCR log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Analytics" onclick="activateLink(this)">Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Archived" onclick="activateLink(this)">Archived NCRs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Archiving" onclick="activateLink(this)">Bulk Archiving</a>
                <hr />
            </li>

        </ul>
        <hr />

    </nav>
    <div class="dropdown ncr-mobile-nav">
        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Index" onclick="activateLink(this)">NCR log</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Analytics" onclick="activateLink(this)">Analytics</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Archived" onclick="activateLink(this)">Archived NCRs</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Archiving" onclick="activateLink(this)">Bulk Archiving</a></li>
        </ul>
        <h2>Bulk Archiving</h2>
        <hr />
    </div>
</div>

<form asp-action="Archiving" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="filtering-fields form-horizontal">
        <div class="row">
            <div class="form-group col-md-2">
                <label class="control-label">Search by NCR number</label>
                <div class="input-search-box">
                    <input name="SearchString" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Search NCR number" autocomplete="off" type="text" value="@ncrNumSelected">
                </div>
                <datalist id="datalistOptions">
                    @foreach (var ncr in ViewBag.NCRsToDL)
                    {
                        <option value="@ncr.NCRNum"></option>
                    }
                </datalist>
            </div>
            <div class="form-group col-md-2">
                <label class="control-label">Start Date</label>
                <input type="date" class="form-control" name="startDate">
            </div>
            <div class="form-group col-md-2">
                <label class="control-label">End Date</label>
                <input type="date" class="form-control" name="endDate">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Filter by Supplier</label>
                <div class="input-search-box">
                    <input name="SupplierID" class="form-control" list="supOptions" id="exampleDataListTwo" placeholder="Search supplier" autocomplete="off" type="text" value="@supplierSelected">
                </div>
                <datalist id="supOptions">
                    @foreach (var item in ViewBag.SupplierSummary)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </datalist>
            </div>
            <div class="form-group form-switch col-md-3 fieltering-checkbox">
                <label class="form-check-label" for="flexSwitchCheckDefault">Hide inactive/closed NCRs?</label>
                <input class="form-check-input" type="checkbox" name="active" id="flexSwitchCheckDefault">
            </div>
            <div class="form-group col-md-4 align-self-end fieltering-btns">
                <button asp-action="Archiving" formmethod="get" type="submit" name="actionButton" class="btn btn-primary">
                    <i class="bi bi-funnel-fill"></i>
                    Filter
                </button>
                <a asp-action="Archiving" class="btn btn-primary"><i class="bi bi-arrow-clockwise"></i>Clear</a>
                <button asp-action="ArchiveManyNCRs" formmethod="post" type="submit" name="actionButton" class="btn btn-secondary">
                    <i class="bi bi-archive"></i>
                    Archive
                </button>
            </div>
        </div>
    </div>

    <div class="d-none d-lg-block">
        <!-- Table for larger screens -->
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="sorting-headers">
                        <input id="thElement" type="submit" name="actionButton" value="NCR NO." class="btn btn-link" />
                        <i class="bi bi-arrow-down-up"></i>
                    </th>
                    <th>
                        STATUS
                    </th>
                    <th>
                        PHASE
                    </th>
                    <th class="pono-row-header">
                        PO OR PROD NO.
                    </th>
                    <th>
                        SUPPLIER
                    </th>
                    <th class="sorting-headers">
                        <input type="submit" name="actionButton" value="CREATED ON" class="btn btn-link" />
                        <i class="bi bi-arrow-down-up"></i>
                    </th>
                    <th>
                        SELECT ALL
                        <input type="checkbox" id="selectAllCheckboxes">
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="ncr-list-row">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="ncr-num-td">
                            @if (item.NCRNum == null)
                            {
                                <div>0000-000</div>
                            }
                            else
                            {
                                <div>@Html.DisplayFor(modelItem => item.NCRNum)</div>
                            }
                        </td>
                        <td>
                            @if (item.Status == "Active")
                            {
                                <span style="color: var(--green);">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == "Closed")
                            {
                                <span style="color: var(--yellow);">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == "Rejected" || item.Status == "Rejected Again")
                            {
                                <span style="color: var(--red);">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == "Voided")
                            {
                                <span style="color: var(--haver-blue);">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                        </td>
                        <td class="ncr-row-phase">
                            @Html.DisplayFor(modelItem => item.Phase)
                        </td>
                        <td class="pono-row">
                            @Html.DisplayFor(modelItem => item.QualityRepresentative.PoNo)
                        </td>
                        <td class="supplier-name-row">
                            @Html.DisplayFor(modelItem => item.QualityRepresentative.Supplier.SupplierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOnDO)
                        </td>
                        <td class="archivingCheckTd">
                            <input type="checkbox" name="NCRsID" value="@item.ID">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h4 class="selectAllMobileH4">Select All<input type="checkbox" id="selectAllCheckboxes"></h4>
    <br />
    <div class="ncr-cards container-fluid d-block d-lg-none">
        <!-- Cards for smaller screens -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        @if (item.NCRNum == null)
                        {
                            <p>0000-000</p>
                        }
                        else
                        {
                            <p>@Html.DisplayFor(modelItem => item.NCRNum)</p>
                        }
                        @if (item.Status == "Active")
                        {
                            <span style="color: var(--green);">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        else if (item.Status == "Closed")
                        {
                            <span style="color: var(--yellow);">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        else if (item.Status == "Rejected" || item.Status == "Rejected Again")
                        {
                            <span style="color: var(--red);">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        else if (item.Status == "Voided")
                        {
                            <span style="color: var(--haver-blue);">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p><strong>Phase:</strong> @Html.DisplayFor(modelItem => item.Phase)</p>
                                <p><strong>PO Number:</strong> @Html.DisplayFor(modelItem => item.QualityRepresentative.PoNo)</p>
                                <p><strong>Supplier:</strong> @Html.DisplayFor(modelItem => item.QualityRepresentative.Supplier.SupplierName)</p>
                                <p><strong>Created On:</strong> @Html.DisplayFor(modelItem => item.CreatedOn)</p>
                            </div>
                            <div class="col">
                                <p>Select</p>
                                <input type="checkbox" name="NCRsID" value="@item.ID">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



    <partial name="_PagingNavBar" />
</form>

@section Scripts {
    <script>
        document.getElementById('selectAllCheckboxes').addEventListener('click', function () {
            var checkboxes = document.querySelectorAll('input[name="NCRsID"]'); // Get all checkboxes
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = document.getElementById('selectAllCheckboxes').checked; // Set checked attribute
            });
        });
    </script>
}