@model NCR

@{
    ViewData["Title"] = "Details";
}

@{
    var sectionEdited = TempData["SectionEdited"] as string;
}

<div class="standard-page-header">
    <partial name="_BackToList" />
    <h1>Details</h1>
</div>
@if(Model.VoidingReason != null)
{
<div class="form-group">
    <label asp-for="VoidingReason" class="control-label"></label>
    <input asp-for="VoidingReason" class="form-control" readonly>
</div>
}


<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" id="Quality-Section" type="button" data-bs-toggle="collapse" data-bs-target="#QualityForm" aria-expanded="true" aria-controls="QalityForm">
                <i class="bi bi-pencil-square"></i>Quality Representative
            </button>
        </h2>
        <div id="QualityForm" class="accordion-collapse collapse show" aria-labelledby="QualityRep-Section">
            <div class="accordion-body">
                <div class="section-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.ProcessApplicableID" class="control-label"></label>
                                <input asp-for="QualityRepresentative.ProcessApplicable.ProcessName" class="form-control" readonly>
                                <span asp-validation-for="QualityRepresentative.ProcessApplicableID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.PartID" class="control-label"></label>
                                <input asp-for="QualityRepresentative.Part.PartSummary" class="form-control" readonly />
                                <span asp-validation-for="QualityRepresentative.PartID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.ProblemID" class="control-label"></label>
                                <input asp-for="QualityRepresentative.Problem.ProblemDescription" class="form-control" readonly>
                                <span asp-validation-for="QualityRepresentative.ProblemID" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="QualityRepresentative.NonConforming" checked disabled /> @Html.DisplayNameFor(model => model.QualityRepresentative.NonConforming)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="QualityRepresentative.ConfirmingEng" disabled/> @Html.DisplayNameFor(model => model.QualityRepresentative.ConfirmingEng)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.SupplierID" class="control-label"></label>
                                <input asp-for="QualityRepresentative.Supplier.SupplierName" class="form-control" readonly>
                                <span asp-validation-for="QualityRepresentative.SupplierID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.QuantReceived" class="control-label"></label>
                                <input asp-for="QualityRepresentative.QuantReceived" class="form-control" oninput="this.value = Math.abs(this.value)" readonly />
                                <span asp-validation-for="QualityRepresentative.QuantReceived" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.QuantDefective" class="control-label"></label>
                                <input asp-for="QualityRepresentative.QuantDefective" class="form-control" oninput="this.value = Math.abs(this.value)" readonly />
                                <span asp-validation-for="QualityRepresentative.QuantDefective" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="NCRNum" class="control-label"></label>
                                <input asp-for="NCRNum" class="form-control" readonly />
                                <span asp-validation-for="NCRNum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.PoNo" class="control-label"></label>
                                <input asp-for="QualityRepresentative.PoNo" class="form-control" oninput="this.value = Math.abs(this.value)" readonly />
                                <span asp-validation-for="QualityRepresentative.PoNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.SalesOrd" class="control-label"></label>
                                <input asp-for="QualityRepresentative.SalesOrd" class="form-control" readonly />
                                <span asp-validation-for="QualityRepresentative.SalesOrd" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.QualityRepresentativeSign" class="control-label"></label>
                                <input asp-for="QualityRepresentative.QualityRepresentativeSign" class="form-control" readonly />
                                <span asp-validation-for="QualityRepresentative.QualityRepresentativeSign" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.QualityRepDate" class="control-label"></label>
                                <input asp-for="QualityRepresentative.QualityRepDate" class="form-control" readonly />
                                <span asp-validation-for="QualityRepresentative.QualityRepDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row section-form">
                    <div class="form-label">
                        <h4>Report Notes</h4>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="QualityRepresentative.DescDefect" class="control-label"></label>
                            <textarea asp-for="QualityRepresentative.DescDefect" rows="5" class="form-control" readonly></textarea>
                            <span asp-validation-for="QualityRepresentative.DescDefect" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @if (Model.QualityRepresentative != null && (Model.QualityRepresentative.QualityPhotos.Any() || Model.QualityRepresentative.VideoLinks.Any()))
                {
                    <div class="section-form multimedia">
                        <div class="section-label">
                            <h4>Multimedia</h4>
                            <hr />
                        </div>
                        @if (Model.QualityRepresentative.QualityPhotos?.Any() ?? false)
                        {
                            <p class="control-label">Images</p>
                            <div class="form-group details-images">
                                @for (int i = 0; i < Model.QualityRepresentative.QualityPhotos.Count; i++)
                                {
                                    var image = Model.QualityRepresentative.QualityPhotos[i];
                                    string imageBase64 = Convert.ToBase64String(image.Content);
                                    string imageSrc = string.Format("data:" + image.MimeType + ";base64,{0}", imageBase64);
                                    <div class="card editor" style="width: 14rem;">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary expand-img" data-bs-toggle="modal" data-bs-target="#imgModal-@i">
                                            <i class="bi bi-arrows-angle-expand"></i>
                                        </button>
                                        <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="imgModal-@i" tabindex="-1" aria-labelledby="imgModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="imgModalLabel">Image</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.QualityRepresentative.VideoLinks != null && Model.QualityRepresentative.VideoLinks.Any())
                        {
                            <div class="form-group details-links">
                                <p class="control-label">Video links</p>
                                <ul>
                                    @foreach (var link in Model.QualityRepresentative.VideoLinks)
                                    {
                                        <li>
                                            <a href="@link.Link" target="_blank">@link.Link</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button" id="Engineer-Section" type="button" data-bs-toggle="collapse" data-bs-target="#EngineerForm" aria-expanded="false" aria-controls="EngineerForm">
                <i class="bi bi-gear"></i>Engineering
            </button>
        </h2>
        <div id="EngineerForm" class="accordion-collapse collapse show" aria-labelledby="Engineering-Section">
            <div class="accordion-body">
                <div class="section-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Engineering.EngReviewID" class="control-label"></label>
                                <input asp-for="Engineering.EngReview.Review" class="form-control" readonly>
                                <span asp-validation-for="Engineering.EngReviewID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Engineering.IsCustNotificationNecessary" class="custom-control-label"></label><br />
                                <input class="form-check-input" asp-for="Engineering.IsCustNotificationNecessary" id="custNotificationCheckbox" disabled/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Engineering.DrawReqUpdating" class="custom-control-label"></label><br />
                                <input class="form-check-input" asp-for="Engineering.DrawReqUpdating" id="drawReqUpdatingCheckbox" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Engineering.EngineerSign" class="control-label"></label>
                                <input asp-for="Engineering.EngineerSign" class="form-control" readonly />
                                <span asp-validation-for="Engineering.EngineerSign" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Engineering.EngineeringDate" class="control-label"></label>
                                <input asp-for="Engineering.EngineeringDate" id="engineeringDate" class="form-control" readonly />
                                <span asp-validation-for="Engineering.EngineeringDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section-form">
                    <div class="form-label">
                        <h4>Drawing</h4>
                        <hr />
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Engineering.OrgRevisionNum" class="control-label"></label>
                            <input asp-for="Engineering.OrgRevisionNum" class="form-control drawing-field" oninput="this.value = Math.abs(this.value)" readonly />
                            <span asp-validation-for="Engineering.OrgRevisionNum" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Engineering.UpdatedRevisionNum" class="control-label"></label>
                            <input asp-for="Engineering.UpdatedRevisionNum" class="form-control drawing-field" oninput="this.value = Math.abs(this.value)" readonly />
                            <span asp-validation-for="Engineering.UpdatedRevisionNum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Engineering.RevisionedBy" class="control-label"></label>
                            <input asp-for="Engineering.RevisionedBy" class="form-control drawing-field" readonly />
                            <span asp-validation-for="Engineering.RevisionedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Engineering.RevisionDate" class="control-label"></label>
                            <input asp-for="Engineering.RevisionDate" class="form-control drawing-field" readonly />
                            <span asp-validation-for="Engineering.RevisionDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row section-form">
                    <div class="form-label">
                        <h4>Report Notes</h4>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Engineering.Disposition" class="control-label"></label>
                            <textarea asp-for="Engineering.Disposition" rows="5" class="form-control" readonly></textarea>
                            <span asp-validation-for="Engineering.Disposition" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Engineering.CustIssueMsg" class="control-label"></label>
                            <textarea asp-for="Engineering.CustIssueMsg" rows="5" class="form-control" id="custIssueMsgField" readonly></textarea>
                            <span asp-validation-for="Engineering.CustIssueMsg" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @if (Model.Engineering != null && (Model.Engineering.QualityPhotos.Any() || Model.Engineering.VideoLinks.Any()))
                {
                    <div class="section-form multimedia">
                        <div class="section-label">
                            <h4>Multimedia</h4>
                            <hr />
                        </div>
                        @if (Model.Engineering.QualityPhotos?.Any() ?? false)
                        {
                            <p class="control-label">Images</p>
                            <div class="form-group details-images">
                                @for (int i = 0; i < Model.Engineering.QualityPhotos.Count; i++)
                                {
                                    var image = Model.Engineering.QualityPhotos[i];
                                    string imageBase64 = Convert.ToBase64String(image.Content);
                                    string imageSrc = string.Format("data:" + image.MimeType + ";base64,{0}", imageBase64);

                                    <div class="card editor" style="width: 14rem;">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary expand-img" data-bs-toggle="modal" data-bs-target="#imgModalEng-@i">
                                            <i class="bi bi-arrows-angle-expand"></i>
                                        </button>
                                        <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="imgModalEng-@i" tabindex="-1" aria-labelledby="imgModalEngLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="imgModalEngLabel">Image</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.Engineering.VideoLinks != null && Model.Engineering.VideoLinks.Any())
                        {
                            <div class="form-group details-links">
                                <p class="control-label">Video links</p>
                                <ul>
                                    @foreach (var link in Model.Engineering.VideoLinks)
                                    {
                                        <li>
                                            <a href="@link.Link" target="_blank">@link.Link</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button" id="Operations-Section" type="button" data-bs-toggle="collapse" data-bs-target="#OperationsForm" aria-expanded="false" aria-controls="OperationsForm">
                <i class="bi bi-receipt"></i>Operations
            </button>
        </h2>
        <div id="OperationsForm" class="accordion-collapse collapse show" aria-labelledby="Operations-Section">
            <div class="accordion-body">
                <div class="section-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Operations.PrelDecisionID" class="control-label"></label>
                                <input asp-for="Operations.PrelDecision.Decision" class="form-control" readonly>
                                <span asp-validation-for="Operations.PrelDecisionID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Operations.CarRaised" class="custom-control-label"></label><br />
                                <input class="form-check-input" asp-for="Operations.CarRaised" id="carRaisedCheckbox" oninput="this.value = Math.abs(this.value)" disabled />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Operations.IsFollowUpReq" class="custom-control-label"></label><br />
                                <input class="form-check-input" asp-for="Operations.IsFollowUpReq" id="followUpReqCheckbox" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Operations.CarNum" class="control-label"></label>
                                <input asp-for="Operations.CarNum" class="form-control" id="carNumField" oninput="this.value = Math.abs(this.value)" readonly />
                                <span asp-validation-for="Operations.CarNum" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Operations.ExpecDate" class="control-label"></label>
                                <input asp-for="Operations.ExpecDate" class="form-control" id="followUpTypeFieldTwo" readonly />
                                <span asp-validation-for="Operations.ExpecDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Operations.FollowUpType" class="control-label"></label>
                                <input asp-for="Operations.FollowUpType" class="form-control" id="followUpTypeField" readonly />
                                <span asp-validation-for="Operations.FollowUpType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Operations.OpManagerSign" class="control-label"></label>
                                <input asp-for="Operations.OpManagerSign" class="form-control" readonly />
                                <span asp-validation-for="Operations.OpManagerSign" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Operations.OperationsDate" class="control-label"></label>
                                <input asp-for="Operations.OperationsDate" class="form-control" id="operationsDate" readonly />
                                <span asp-validation-for="Operations.OperationsDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section-form">
                    <div class="form-label">
                        <h4>Report Notes</h4>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Operations.Message" class="control-label"></label>
                            <textarea asp-for="Operations.Message" rows="5" class="form-control" readonly></textarea>
                            <span asp-validation-for="Operations.Message" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @if (Model.Operations != null && (Model.Operations.QualityPhotos.Any() || Model.Operations.VideoLinks.Any()))
                {
                    <div class="section-form multimedia">
                        <div class="section-label">
                            <h4>Multimedia</h4>
                            <hr />
                        </div>
                        @if (Model.Operations.QualityPhotos?.Any() ?? false)
                        {
                            <p class="control-label">Images</p>
                            <div class="form-group details-images">
                                @for (int i = 0; i < Model.Operations.QualityPhotos.Count; i++)
                                {
                                    var image = Model.Operations.QualityPhotos[i];
                                    string imageBase64 = Convert.ToBase64String(image.Content);
                                    string imageSrc = string.Format("data:" + image.MimeType + ";base64,{0}", imageBase64);
                                    <div class="card editor" style="width: 14rem;">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary expand-img" data-bs-toggle="modal" data-bs-target="#imgOperModal-@i">
                                            <i class="bi bi-arrows-angle-expand"></i>
                                        </button>
                                        <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="imgOperModal-@i" tabindex="-1" aria-labelledby="imgOperModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="imgOperModalLabel">Image</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.Operations.VideoLinks != null && Model.Operations.VideoLinks.Any())
                        {
                            <div class="form-group details-links">
                                <p class="control-label">Video links</p>
                                <ul>
                                    @foreach (var link in Model.Operations.VideoLinks)
                                    {
                                        <li>
                                            <a href="@link.Link" target="_blank">@link.Link</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button" id="Procurement-Section" type="button" data-bs-toggle="collapse" data-bs-target="#ProcurementForm" aria-expanded="false" aria-controls="ProcurementForm">
                <i class="bi bi-box-seam"></i>Procurement
            </button>
        </h2>
        <div id="ProcurementForm" class="accordion-collapse collapse show" aria-labelledby="Procurement-Section">
            <div class="accordion-body">
                <div class="section-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Procurement.SuppItemsBack" id="suppItemsBackCheckbox" disabled /> @Html.DisplayNameFor(model => model.Procurement.SuppItemsBack)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Procurement.SuppReturnCompleted" disabled /> @Html.DisplayNameFor(model => model.Procurement.SuppReturnCompleted)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Procurement.DisposeOnSite" disabled /> @Html.DisplayNameFor(model => model.Procurement.DisposeOnSite)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Procurement.IsCreditExpec" disabled /> @Html.DisplayNameFor(model => model.Procurement.IsCreditExpec)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Procurement.ChargeSupplier" disabled/> @Html.DisplayNameFor(model => model.Procurement.ChargeSupplier)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Procurement.RMANo" class="control-label"></label>
                                <input asp-for="Procurement.RMANo" class="form-control" oninput="this.value = Math.abs(this.value)" readonly/>
                                <span asp-validation-for="Procurement.RMANo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Procurement.NCRValue" class="control-label"></label>
                                <input asp-for="Procurement.NCRValue" class="form-control" oninput="this.value = Math.abs(this.value)" readonly />
                                <span asp-validation-for="Procurement.NCRValue" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Procurement.ExpecDateOfReturn" class="control-label"></label>
                                <input asp-for="Procurement.ExpecDateOfReturn" class="form-control" readonly/>
                                <span asp-validation-for="Procurement.ExpecDateOfReturn" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Procurement.ProcurementSign" class="control-label"></label>
                                <input asp-for="Procurement.ProcurementSign" class="form-control" readonly/>
                                <span asp-validation-for="Procurement.ProcurementSign" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Procurement.ProcurementDate" class="control-label"></label>
                                <input asp-for="Procurement.ProcurementDate" class="form-control" id="procurementDate" readonly/>
                                <span asp-validation-for="Procurement.ProcurementDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section-form">
                    <div class="form-label">
                        <h4>Report Notes</h4>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Procurement.CarrierInfo" class="control-label"></label>
                            <textarea asp-for="Procurement.CarrierInfo" rows="5" class="form-control" id="carrierInfoField" readonly> </textarea>
                            <span asp-validation-for="Procurement.CarrierInfo" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                @if (Model.Procurement != null && (Model.Procurement.QualityPhotos.Any() || Model.Procurement.VideoLinks.Any()))
                {
                    <div class="section-form multimedia">
                        <div class="section-label">
                            <h4>Multimedia</h4>
                            <hr />
                        </div>
                        @if (Model.Procurement.QualityPhotos?.Any() ?? false)
                        {
                            <p class="control-label">Images</p>
                            <div class="form-group details-images">
                                @for (int i = 0; i < Model.Procurement.QualityPhotos.Count; i++)
                                {
                                    var image = Model.Procurement.QualityPhotos[i];
                                    string imageBase64 = Convert.ToBase64String(image.Content);
                                    string imageSrc = string.Format("data:" + image.MimeType + ";base64,{0}", imageBase64);
                                    <div class="card editor" style="width: 14rem;">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary expand-img" data-bs-toggle="modal" data-bs-target="#imgProcModal-@i">
                                            <i class="bi bi-arrows-angle-expand"></i>
                                        </button>
                                        <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="imgProcModal-@i" tabindex="-1" aria-labelledby="imgProcModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="imgProcModalLabel">Image</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.Procurement.VideoLinks != null && Model.Procurement.VideoLinks.Any())
                        {
                            <div class="form-group details-links">
                                <p class="control-label">Video links</p>
                                <ul>
                                    @foreach (var link in Model.Procurement.VideoLinks)
                                    {
                                        <li>
                                            <a href="@link.Link" target="_blank">@link.Link</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button" id="Reinspection-Section" type="button" data-bs-toggle="collapse" data-bs-target="#ReinspectionForm" aria-expanded="false" aria-controls="ReinspectionForm">
                <i class="bi bi-arrow-repeat"></i>Reinspection
            </button>
        </h2>
        <div id="ReinspectionForm" class="accordion-collapse collapse show" aria-labelledby="Reinspection-Section">
            <div class="accordion-body">
                <div class="section-form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Reinspection.ReinspecAccepted" disabled /> @Html.DisplayNameFor(model => model.Reinspection.ReinspecAccepted)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Reinspection.ReinspecInspectorSign" class="control-label"></label>
                                <input asp-for="Reinspection.ReinspecInspectorSign" class="form-control" readonly/>
                                <span asp-validation-for="Reinspection.ReinspecInspectorSign" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Reinspection.ReinspectionDate" class="control-label"></label>
                                <input asp-for="Reinspection.ReinspectionDate" class="form-control" id="reinspectionDate" readonly/>
                                <span asp-validation-for="Reinspection.ReinspectionDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Reinspection != null && (Model.Reinspection.QualityPhotos.Any() || Model.Reinspection.VideoLinks.Any()))
                {
                    <div class="section-form multimedia">
                        <div class="section-label">
                            <h4>Multimedia</h4>
                            <hr />
                        </div>
                        @if (Model.Reinspection.QualityPhotos?.Any() ?? false)
                        {
                            <p class="control-label">Images</p>
                            <div class="form-group details-images">
                                @for (int i = 0; i < Model.Reinspection.QualityPhotos.Count; i++)
                                {
                                    var image = Model.Reinspection.QualityPhotos[i];
                                    string imageBase64 = Convert.ToBase64String(image.Content);
                                    string imageSrc = string.Format("data:" + image.MimeType + ";base64,{0}", imageBase64);
                                    <div class="card editor" style="width: 14rem;">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary expand-img" data-bs-toggle="modal" data-bs-target="#imgReinspModal-@i">
                                            <i class="bi bi-arrows-angle-expand"></i>
                                        </button>
                                        <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="imgReinspModal-@i" tabindex="-1" aria-labelledby="imgReinspModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="imgReinspModalLabel">Image</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.Reinspection.VideoLinks != null && Model.Reinspection.VideoLinks.Any())
                        {
                            <div class="form-group details-links">
                                <p class="control-label">Video links</p>
                                <ul>
                                    @foreach (var link in Model.Reinspection.VideoLinks)
                                    {
                                        <li>
                                            <a href="@link.Link" target="_blank">@link.Link</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        // Define ScrollIntoSection function globally
        function ScrollIntoSection(targetElementID) {
            var targetElement = document.getElementById(targetElementID);
            targetElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }

        // Scroll to section edited
        $(document).ready(function () {

            var sectionEdited = "@sectionEdited"; // Properly format Razor variable

            if (sectionEdited != null) {
                if (sectionEdited == "QualityRepresentative") {
                    ScrollIntoSection('panelsStayOpen-headingOne');
                }
                else if (sectionEdited == "Engineering") {
                    ScrollIntoSection('panelsStayOpen-headingTwo');
                }
                else if (sectionEdited == "Operations") {
                    ScrollIntoSection('panelsStayOpen-headingThree');
                }
                else if (sectionEdited == "Procurement") {
                    ScrollIntoSection('panelsStayOpen-headingFour');
                }
                else if (sectionEdited == "Reinspection") {
                    ScrollIntoSection('panelsStayOpen-headingFive');
                }
            }
        });
    </script>
}
