@model NCR

@{
    ViewData["Title"] = "Edit";
}



<h1>Edit</h1>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" id="Quality-Section" type="button" data-bs-toggle="collapse" data-bs-target="#QualityForm" aria-expanded="true" aria-controls="QualityForm">
                <i class="bi bi-pencil-square"></i>Quality Representative
            </button>
        </h2>
        <div id="QualityForm" class="accordion-collapse collapse" aria-labelledby="QualityRep-Section">
            <div class="accordion-body">

                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.Phase)

                    <div class="section-form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.ProcessApplicableID" class="control-label"></label><span> (required)</span>
                                    <select asp-for="QualityRepresentative.ProcessApplicableID" class="form-select" asp-items="ViewBag.ProcessApplicableID">
                                        <option value="">Select a Process Applicable</option>
                                    </select>
                                    <span asp-validation-for="QualityRepresentative.ProcessApplicableID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.PartID" class="control-label"></label><span> (required)</span>
                                    <select asp-for="QualityRepresentative.PartID" class="form-select" asp-items="ViewBag.PartID">
                                        <option value="">Select a Part</option>
                                    </select>
                                    <span asp-validation-for="QualityRepresentative.PartID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.ProblemID" class="control-label"></label><span> (required)</span>
                                    <select asp-for="QualityRepresentative.ProblemID" class="form-select" asp-items="ViewBag.ProblemID">
                                        <option value="">Select a Problem</option>
                                    </select>
                                    <span asp-validation-for="QualityRepresentative.ProblemID" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="QualityRepresentative.NonConforming" /> @Html.DisplayNameFor(model => model.QualityRepresentative.NonConforming)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.SupplierID" class="control-label"></label><span> (required)</span>
                                    <select asp-for="QualityRepresentative.SupplierID" class="form-select" asp-items="ViewBag.SupplierID">
                                        <option value="">Select a Supplier</option>
                                    </select>
                                    <span asp-validation-for="QualityRepresentative.SupplierID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.QuantReceived" class="control-label"></label><span> (required)</span>
                                    <input asp-for="QualityRepresentative.QuantReceived" class="form-control" oninput="this.value = Math.abs(this.value)" />
                                    <span asp-validation-for="QualityRepresentative.QuantReceived" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.QuantDefective" class="control-label"></label><span> (required)</span>
                                    <input asp-for="QualityRepresentative.QuantDefective" class="form-control" oninput="this.value = Math.abs(this.value)" />
                                    <span asp-validation-for="QualityRepresentative.QuantDefective" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="NCRNum" class="control-label"></label><span> (required)</span>
                                    <input asp-for="NCRNum" class="form-control" readonly />
                                    <span asp-validation-for="NCRNum" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.PoNo" class="control-label"></label><span> (required)</span>
                                    <input asp-for="QualityRepresentative.PoNo" class="form-control" oninput="this.value = Math.abs(this.value)" />
                                    <span asp-validation-for="QualityRepresentative.PoNo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.SalesOrd" class="control-label"></label><span> (required)</span>
                                    <input asp-for="QualityRepresentative.SalesOrd" class="form-control" />
                                    <span asp-validation-for="QualityRepresentative.SalesOrd" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.QualityRepresentativeSign" class="control-label"></label><span> (required)</span>
                                    <input asp-for="QualityRepresentative.QualityRepresentativeSign" class="form-control" />
                                    <span asp-validation-for="QualityRepresentative.QualityRepresentativeSign" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="QualityRepresentative.QualityRepDate" class="control-label"></label><span> (required)</span>
                                    <input asp-for="QualityRepresentative.QualityRepDate" class="form-control" />
                                    <span asp-validation-for="QualityRepresentative.QualityRepDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section-form">
                        <div class="section-label">
                            <h4>Report Notes</h4>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="QualityRepresentative.DescDefect" class="control-label"></label><span> (required)</span>
                                <textarea asp-for="QualityRepresentative.DescDefect" rows="5" class="form-control"></textarea>
                                <span asp-validation-for="QualityRepresentative.DescDefect" class="text-danger"></span>
                            </div>
                        </div>
                    </div>



                    @if ((User.IsInRole("Admin") || User.IsInRole("Quality Inspector")) && Model.QualityRepresentative != null)
                    {

                        <div class="row section-form">
                            <div class="section-label">
                                <h4>Multimedia</h4>
                                <hr />
                            </div>
                            <div class="col-md-12 uploader">
                                <label class="control-label">Images, screenshots, drawings</label>
                                <div class="form-group images-upload-container">
                                    <div class="upload-button-container">
                                        <label for="formFile" class="form-label">Drop files here or click on the button below</label>
                                        <button class="btn btn-primary">Upload</button>
                                        <input class="form-control" type="file" id="uploadFilebtn" name="Pictures" multiple onchange="handleFileSelection(this, 'qualityrep-container')">
                                    </div>
                                    <input id="uploadFileArea" class="form-control" type="file" name="Pictures" multiple onchange="handleFileSelection(this, 'qualityrep-container')" />
                                </div>
                                <div class="form-group" id="qualityrep-container"></div>
                                <div class="form-group">

                                    @if (Model.QualityRepresentative.QualityPhotos?.Any() ?? false)
                                    {
                                        foreach (var image in Model.QualityRepresentative.QualityPhotos)
                                        {
                                            string imageBase64 = Convert.ToBase64String(image.Content);
                                            string imageSrc = string.Format("data:" + image.MimeType + ";base64,{0}", imageBase64);
                                            <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                                            <div class="form-check m-3">
                                                <input class="form-check-input" type="checkbox" id="imagesToRemove" name="imagesToRemove" value="@image.ID">
                                                <label class="form-check-label" for="imagesToRemove">
                                                    <strong>Check to remove Image</strong>
                                                </label>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="form-group link-adder">
                                    <label for="Links" class="form-label">Links</label>
                                    <div>
                                        <input class="form-control" name="Links" type="text" id="Links" />
                                        <button type="button" id="addLinkButton" class="btn btn-sm btn-primary" onclick="addLink()"><i class="bi bi-plus-lg"></i></button>
                                    </div>
                                </div>

                                <div class="form-group" id="linksListContainer"></div>
                                <div class="form-group">
                                    @if (Model.QualityRepresentative.VideoLinks != null && Model.QualityRepresentative.VideoLinks.Any())
                                    {
                                        <div class="form-group details-links">
                                            <p class="control-label">Video links</p>
                                            <ul>
                                                @foreach (var link in Model.QualityRepresentative.VideoLinks)
                                                {
                                                    <li>
                                                        <a href="@link.Link" target="_blank">@link.Link</a>
                                                        <input class="form-check-input" type="checkbox" id="linksToRemove" name="linksToRemove" value="@link.ID">
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }

                                </div>

                            </div>
                        </div>

                        <div class="section-form">
                            <div class="section-label">
                                <h4>Report notification</h4>
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-observations">
                                            <i class="bi bi-info-circle-fill"></i>
                                            <p>The notification fields are pre-filled by default. You can edit them as needed. If no changes are made, the default message and recipients will be used.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row email-boxes">
                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Staff Selected</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                                                <i class="bi bi-x-lg"></i>
                                            </button>
                                            @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Available Staff</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                                                <i class="bi bi-plus-lg"></i>
                                            </button>
                                            @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-danger">@ViewData["Message"]</div>
                                    <div class="form-group">
                                        <label for="Subject" class="control-label">Email Subject</label>
                                        <input type="text" id="Subject" name="Subject" class="form-control" value="NCR @Model.NCRNum, @Model.Phase section completed" />
                                    </div>
                                    <div class="form-group">
                                        <label for="emailContent" class="control-label">Message Content</label>
                                        <textarea id="emailContent" name="emailContent" rows="5" cols="40" class="form-control">
        Hello All,

        I have created a new NCR for review.

        Regards
                                            </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Submit Quality Representative" class="btn btn-primary" />
                            <input type="text" value="QualityRepresentative" id="sectionEdited" name="sectionEdited" hidden />
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" id="Engineering-Section" type="button" data-bs-toggle="collapse" data-bs-target="#EngineerForm" aria-expanded="false" aria-controls="EngineerForm">
                <i class="bi bi-gear"></i>Engineering
            </button>
        </h2>
        <div id="EngineerForm" class="accordion-collapse collapse" aria-labelledby="Engineering-Section">
            <div class="accordion-body">

                <form asp-action="CreateEngineering" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @Html.AntiForgeryToken()

                    <div class="section-form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Engineering.EngReviewID" class="control-label"></label><span> (required)</span>
                                    <select asp-for="Engineering.EngReviewID" class="form-select" asp-items="ViewBag.EngReviewID">
                                        <option value="">Select an option</option>
                                    </select>
                                    <span asp-validation-for="Engineering.EngReviewID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Engineering.IsCustNotificationNecessary" class="custom-control-label"></label><br />
                                    <input class="form-check-input" asp-for="Engineering.IsCustNotificationNecessary" id="custNotificationCheckbox" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Engineering.DrawReqUpdating" class="custom-control-label"></label><br />
                                    <input class="form-check-input" asp-for="Engineering.DrawReqUpdating" id="drawReqUpdatingCheckbox" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Engineering.EngineerSign" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Engineering.EngineerSign" class="form-control" />
                                    <span asp-validation-for="Engineering.EngineerSign" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Engineering.EngineeringDate" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Engineering.EngineeringDate" id="engineeringDate" class="form-control" />
                                    <span asp-validation-for="Engineering.EngineeringDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row section-form">
                        <div class="section-label">
                            <h4>Drawings</h4>
                            <hr />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Engineering.OrgRevisionNum" class="control-label"></label>
                                <input asp-for="Engineering.OrgRevisionNum" class="form-control drawing-field" oninput="this.value = Math.abs(this.value)" />
                                <span asp-validation-for="Engineering.OrgRevisionNum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Engineering.UpdatedRevisionNum" class="control-label"></label>
                                <input asp-for="Engineering.UpdatedRevisionNum" class="form-control drawing-field" oninput="this.value = Math.abs(this.value)" />
                                <span asp-validation-for="Engineering.UpdatedRevisionNum" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Engineering.RevisionedBy" class="control-label"></label>
                                <input asp-for="Engineering.RevisionedBy" class="form-control drawing-field" />
                                <span asp-validation-for="Engineering.RevisionedBy" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Engineering.RevisionDate" class="control-label"></label>
                                <input asp-for="Engineering.RevisionDate" class="form-control drawing-field" />
                                <span asp-validation-for="Engineering.RevisionDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row section-form">
                        <div class="section-label">
                            <h4>Report Notes</h4>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Engineering.Disposition" class="control-label"></label><span> (required)</span>
                                <textarea asp-for="Engineering.Disposition" rows="5" class="form-control"></textarea>
                                <span asp-validation-for="Engineering.Disposition" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Engineering.CustIssueMsg" class="control-label"></label>
                                <textarea asp-for="Engineering.CustIssueMsg" rows="5" class="form-control" id="custIssueMsgField"></textarea>
                                <span asp-validation-for="Engineering.CustIssueMsg" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    @if ((User.IsInRole("Admin") || User.IsInRole("Engineer")) && Model.Engineering != null)
                    {
                        <div class="row section-form">
                            <div class="section-label">
                                <h4>Multimedia</h4>
                                <hr />
                            </div>
                            <div class="col-md-12 uploader">
                                <label class="control-label">Images, screenshots, drawings</label>
                                <div class="form-group images-upload-container">
                                    <div class="upload-button-container">
                                        <label for="formFile" class="form-label">Drop files here or click on the button below</label>
                                        <button class="btn btn-primary">Upload</button>
                                        <input class="form-control" type="file" id="uploadFilebtn" name="Pictures" multiple onchange="handleFileSelection(this, 'engineering-container')">
                                    </div>
                                    <input id="uploadFileArea" class="form-control" type="file" name="Pictures" multiple onchange="handleFileSelection(this, 'engineering-container')" />
                                </div>
                                <div class="form-group" id="engineering-container"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group link-adder">
                                    <label for="Links" class="form-label">Links</label>
                                    <div>
                                        <input class="form-control" name="Links" type="text" id="Links" />
                                        <button type="button" id="addLinkButton" class="btn btn-sm btn-primary" onclick="addLink()"><i class="bi bi-plus-lg"></i></button>
                                    </div>
                                </div>

                                <div class="form-group" id="linksListContainer"></div>
                            </div>
                        </div>

                        <div class="section-form">
                            <div class="section-label">
                                <h4>Report notification</h4>
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Staff Selected</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                                                <i class="bi bi-x-lg"></i>
                                            </button>
                                            @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Available Staff</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                                                <i class="bi bi-plus"></i>
                                            </button>
                                            @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-danger">@ViewData["Message"]</div>
                                    <div class="form-group">
                                        <label for="Subject" class="control-label">Email Subject</label>
                                        <input type="text" id="Subject" name="Subject" class="form-control" value="NCR @Model.NCRNum, @Model.Phase section completed" />
                                    </div>
                                    <div class="form-group">
                                        <label for="emailContent" class="control-label">Message Content</label>
                                        <textarea id="emailContent" name="emailContent" rows="5" cols="40" class="form-control">
        Hello All,

        I have completed the @Model.Phase section.

        Regards
                                                </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Submit Engineering" class="btn btn-primary" />
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" id="Operations-Section" type="button" data-bs-toggle="collapse" data-bs-target="#OperationsForm" aria-expanded="false" aria-controls="OperationsForm">
                <i class="bi bi-receipt"></i>Operations
            </button>
        </h2>
        <div id="OperationsForm" class="accordion-collapse collapse" aria-labelledby="Operations-Section">
            <div class="accordion-body">

                <form asp-action="CreateOperations" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.AntiForgeryToken()

                    <div class="section-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Operations.PrelDecisionID" class="control-label"></label><span> (required)</span>
                                    <select asp-for="Operations.PrelDecisionID" class="form-select" asp-items="ViewBag.PrelDecisionID">
                                        <option value="">Select a PrelDecision</option>
                                    </select>
                                    <span asp-validation-for="Operations.PrelDecisionID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Operations.CarRaised" class="custom-control-label"></label><br />
                                    <input class="form-check-input" asp-for="Operations.CarRaised" id="carRaisedCheckbox" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Operations.IsFollowUpReq" class="custom-control-label"></label><br />
                                    <input class="form-check-input" asp-for="Operations.IsFollowUpReq" id="followUpReqCheckbox" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Operations.CarNum" class="control-label"></label>
                                    <input asp-for="Operations.CarNum" class="form-control" id="carNumField" oninput="this.value = Math.abs(this.value)" />
                                    <span asp-validation-for="Operations.CarNum" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Operations.ExpecDate" class="control-label"></label>
                                    <input asp-for="Operations.ExpecDate" class="form-control" id="followUpTypeFieldTwo" />
                                    <span asp-validation-for="Operations.ExpecDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Operations.FollowUpType" class="control-label"></label>
                                    <input asp-for="Operations.FollowUpType" class="form-control" id="followUpTypeField" />
                                    <span asp-validation-for="Operations.FollowUpType" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Operations.OpManagerSign" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Operations.OpManagerSign" class="form-control" />
                                    <span asp-validation-for="Operations.OpManagerSign" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Operations.OperationsDate" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Operations.OperationsDate" class="form-control" id="operationsDate" />
                                    <span asp-validation-for="Operations.OperationsDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row section-form">
                        <div class="section-label">
                            <h4>Report Notes</h4>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Operations.Message" class="control-label"></label>
                                <textarea asp-for="Operations.Message" rows="5" class="form-control"></textarea>
                                <span asp-validation-for="Operations.Message" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    @if ((User.IsInRole("Admin") || User.IsInRole("Operations Manager")) && Model.Operations != null)
                    {
                        <div class="row section-form">
                            <div class="section-label">
                                <h4>Multimedia</h4>
                                <hr />
                            </div>
                            <div class="col-md-12 uploader">
                                <label class="control-label">Images, screenshots, drawings</label>
                                <div class="form-group images-upload-container">
                                    <div class="upload-button-container">
                                        <label for="formFile" class="form-label">Drop files here or click on the button below</label>
                                        <button class="btn btn-primary">Upload</button>
                                        <input class="form-control" type="file" id="uploadFilebtn" name="Pictures" multiple onchange="handleFileSelection(this, 'Operations-container')">
                                    </div>
                                    <input id="uploadFileArea" class="form-control" type="file" name="Pictures" multiple onchange="handleFileSelection(this, 'Operations-container')" />
                                </div>
                                <div class="form-group" id="Operations-container"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group link-adder">
                                    <label for="Links" class="form-label">Links</label>
                                    <div>
                                        <input class="form-control" name="Links" type="text" id="Links" />
                                        <button type="button" id="addLinkButton" class="btn btn-sm btn-primary" onclick="addLink()"><i class="bi bi-plus-lg"></i></button>
                                    </div>
                                </div>

                                <div class="form-group" id="linksListContainer"></div>
                            </div>
                        </div>

                        <div class="section-form">
                            <div class="section-label">
                                <h4>Report notification</h4>
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Staff Selected</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                                                <strong>-</strong>
                                            </button>
                                            @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Available Staff</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                                                <strong>+</strong>
                                            </button>
                                            @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-danger">@ViewData["Message"]</div>
                                    <div class="form-group">
                                        <label for="Subject" class="control-label">Email Subject</label>
                                        <input type="text" id="Subject" name="Subject" class="form-control" value="NCR @Model.NCRNum, @Model.Phase section completed" />
                                    </div>
                                    <div class="form-group">
                                        <label for="emailContent" class="control-label">Message Content</label>
                                        <textarea id="emailContent" name="emailContent" rows="5" cols="40" class="form-control">
        Hello All,

        I have completed the @Model.Phase section.

        Regards
                                                </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Submit Operations" class="btn btn-primary" />
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" id="Procurement-Section" type="button" data-bs-toggle="collapse" data-bs-target="#ProcurementForm" aria-expanded="false" aria-controls="ProcurementForm">
                <i class="bi bi-box-seam"></i>Procurement
            </button>
        </h2>
        <div id="ProcurementForm" class="accordion-collapse collapse" aria-labelledby="Procurement-Section">
            <div class="accordion-body">

                <form asp-action="CreateProcurement" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.AntiForgeryToken()

                    <div class="section-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Procurement.SuppItemsBack" id="suppItemsBackCheckbox" /> @Html.DisplayNameFor(model => model.Procurement.SuppItemsBack)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Procurement.SuppReturnCompleted" /> @Html.DisplayNameFor(model => model.Procurement.SuppReturnCompleted)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Procurement.IsCreditExpec" /> @Html.DisplayNameFor(model => model.Procurement.IsCreditExpec)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Procurement.ChargeSupplier" /> @Html.DisplayNameFor(model => model.Procurement.ChargeSupplier)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Procurement.RMANo" class="control-label"></label>
                                    <input asp-for="Procurement.RMANo" class="form-control" oninput="this.value = Math.abs(this.value)" id="RMANoField" />
                                    <span asp-validation-for="Procurement.RMANo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Procurement.ExpecDateOfReturn" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Procurement.ExpecDateOfReturn" class="form-control" />
                                    <span asp-validation-for="Procurement.ExpecDateOfReturn" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Procurement.ProcurementSign" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Procurement.ProcurementSign" class="form-control" />
                                    <span asp-validation-for="Procurement.ProcurementSign" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Procurement.ProcurementDate" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Procurement.ProcurementDate" class="form-control" id="procurementDate" />
                                    <span asp-validation-for="Procurement.ProcurementDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row section-form">
                        <div class="section-label">
                            <h4>Report Notes</h4>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Procurement.CarrierInfo" class="control-label"></label>
                                <textarea asp-for="Procurement.CarrierInfo" rows="5" class="form-control" id="carrierInfoField"> </textarea>
                                <span asp-validation-for="Procurement.CarrierInfo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    @if ((User.IsInRole("Admin") || User.IsInRole("Procurement")) && Model.Procurement != null)
                    {
                        <div class="row section-form">
                            <div class="section-label">
                                <h4>Multimedia</h4>
                                <hr />
                            </div>
                            <div class="col-md-12 uploader">
                                <label class="control-label">Images, screenshots, drawings</label>
                                <div class="form-group images-upload-container">
                                    <div class="upload-button-container">
                                        <label for="formFile" class="form-label">Drop files here or click on the button below</label>
                                        <button class="btn btn-primary">Upload</button>
                                        <input class="form-control" type="file" id="uploadFilebtn" name="Pictures" multiple onchange="handleFileSelection(this, 'procurement-container')">
                                    </div>
                                    <input id="uploadFileArea" class="form-control" type="file" name="Pictures" multiple onchange="handleFileSelection(this, 'procurement-container')" />
                                </div>
                                <div class="form-group" id="procurement-container"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group link-adder">
                                    <label for="Links" class="form-label">Links</label>
                                    <div>
                                        <input class="form-control" name="Links" type="text" id="Links" />
                                        <button type="button" id="addLinkButton" class="btn btn-sm btn-primary" onclick="addLink()"><i class="bi bi-plus-lg"></i></button>
                                    </div>
                                </div>

                                <div class="form-group" id="linksListContainer"></div>
                            </div>
                        </div>

                        <div class="section-form">
                            <div class="section-label">
                                <h4>Report notification</h4>
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Staff Selected</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                                                <strong>-</strong>
                                            </button>
                                            @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Available Staff</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                                                <strong>+</strong>
                                            </button>
                                            @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control", @style = "margin-top: 0.5rem;" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-danger">@ViewData["Message"]</div>
                                    <div class="form-group">
                                        <label for="Subject" class="control-label">Email Subject</label>
                                        <input type="text" id="Subject" name="Subject" class="form-control" value="NCR @Model.NCRNum, @Model.Phase section completed" />
                                    </div>
                                    <div class="form-group">
                                        <label for="emailContent" class="control-label">Message Content</label>
                                        <textarea id="emailContent" name="emailContent" rows="5" cols="40" class="form-control">
        Hello All,

        I have completed the @Model.Phase section.

        Regards
                                                </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Submit Procurement" class="btn btn-primary" />
                        </div>
                    }

                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" id="Reinspection-Section" type="button" data-bs-toggle="collapse" data-bs-target="#ReinspectionForm" aria-expanded="false" aria-controls="ReinspectionForm">
                <i class="bi bi-arrow-repeat"></i>Reinspection
            </button>
        </h2>
        <div id="ReinspectionForm" class="accordion-collapse collapse" aria-labelledby="Reinspection-Section">
            <div class="accordion-body">
                <form asp-action="CreateReinspection" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.AntiForgeryToken()

                    <div class="section-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Reinspection.ReinspecAccepted" /> @Html.DisplayNameFor(model => model.Reinspection.ReinspecAccepted)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Reinspection.ReinspecInspectorSign" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Reinspection.ReinspecInspectorSign" class="form-control" />
                                    <span asp-validation-for="Reinspection.ReinspecInspectorSign" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Reinspection.ReinspectionDate" class="control-label"></label><span> (required)</span>
                                    <input asp-for="Reinspection.ReinspectionDate" class="form-control" id="reinspectionDate" />
                                    <span asp-validation-for="Reinspection.ReinspectionDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    @*     <script src="~/js/photos-adder.js"></script> *@
    <script src="~/js/form-fill.js"></script>
    <script src="~/js/form-dates-filler.js"></script>
    <script src="~/js/block-fields.js"></script>
    @*     <script src="~/js/multiselect.js"></script> *@
    @*     <script src="~/js/expand-images.js"></script> *@
    <script src="~/js/video-link.js"></script>

    <script>

        // Helper method to unfold sections
        function toggleAccordion(sectionId, sectionButtonId, section) {
            const formControls = document.querySelectorAll('.form-control, .form-check-input, .form-select')

            $(sectionId).addClass('show');
            $(sectionButtonId).removeClass('collapsed')

            //Block all the fields that do not belong to the current section
            for (let item of formControls) {
                let parentDiv = item.closest('.accordion-collapse');

                if (parentDiv.id != section) {
                    item.disabled = true;
                }
            }
        }

        // Unfold section according to NCR Phase
        $(document).ready(function () {
            if (@User.IsInRole("Admin") || @User.IsInRole("Quality Inspector")) {
                toggleAccordion('#QualityForm', '#Quality-Section', 'QualityForm');
            } else if (currentSection === "Engineering") {
                toggleAccordion('#EngineerForm', '#Engineering-Section', 'EngineerForm');
            } else if (currentSection === "Operations") {
                toggleAccordion('#OperationsForm', '#Operations-Section', 'OperationsForm');
            } else if (currentSection === "Procurement") {
                toggleAccordion('#ProcurementForm', '#Procurement-Section', 'ProcurementForm');
            } else if (currentSection === "Reinspection") {
                toggleAccordion('#ReinspectionForm', '#Reinspection-Section', 'ReinspectionForm');
            }
        });

        let DDLforChosen = document.getElementById("selectedOptions");
        let DDLforAvail = document.getElementById("availOptions");

        /*function to switch list items from one ddl to another
        use the sender param for the DDL from which the user is multi-selecting
        use the receiver param for the DDL that gets the options*/
        function switchOptions(event, senderDDL, receiverDDL) {
            //find all selected option tags - selectedOptions becomes a nodelist
            let senderID = senderDDL.id;
            let selectedOptions = document.querySelectorAll(`#${senderID} option:checked`);
            event.preventDefault();

            if (selectedOptions.length === 0) {
                alert("Nothing to move.");
            }
            else {
                selectedOptions.forEach(function (o, idx) {
                    senderDDL.remove(o.index);
                    receiverDDL.appendChild(o);
                });
            }
        }

        // function switchAllOptions(senderDDL, receiverDDL) {
        //     // Find all options in senderDDL
        //     let senderID = senderDDL.id;
        //     let selectedOptions = document.querySelectorAll(`#${senderID} option`);

        //     selectedOptions.forEach(function (o, idx) {
        //         senderDDL.remove(o.index);
        //         receiverDDL.appendChild(o);
        //     });
        // }

        // switchAllOptions(DDLforAvail, DDLforChosen);

        //create closures so that we can access the event & the 2 parameters
        let addOptions = (event) => switchOptions(event, DDLforAvail, DDLforChosen);
        let removeOptions = (event) => switchOptions(event, DDLforChosen, DDLforAvail);

        //assign the closures as the event handlers for each button
        document.getElementById("btnLeft").addEventListener("click", addOptions);
        document.getElementById("btnRight").addEventListener("click", removeOptions);

        // Get the images
        var images = document.querySelectorAll(".img-fluid");

        images.forEach(function (image) {

            //Get the image clicked
            image.onclick = function () {
                let imageRow = image.closest(".row");

                image.classList.toggle("expanded");
                imageRow.classList.toggle("image-modal");
                imageRow.style.display = "flex";

                //Toggle id
                if (image.id === "clickedImage") {
                    image.removeAttribute("id");
                } else {
                    image.id = "clickedImage";
                }

                // Hide images other than the clicked one
                images.forEach(function (otherImage) {
                    if (otherImage !== image) {
                        otherImage.classList.toggle("hide-other-imgs")
                    }
                });
            }
        });


        //photo adder
        function handleFileSelection(input, fileListContainerId) {

            var files = input.files;

            // Create a container for the file list
            var fileListContainer = document.getElementById(fileListContainerId);

            // Clear the existing file list
            fileListContainer.innerHTML = "";

            //var imagesListContainer = document.querySelectorAll(".image-list-displayer");
            //imagesListContainer.style.display = "flex";

            // Display the selected files
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var listItem = document.createElement("li");
                listItem.textContent = file.name;

                // Add a button to remove the file
                var removeButton = document.createElement("button");
                removeButton.textContent = "Remove";
                removeButton.onclick = createRemoveHandler(input, file);

                // Append the remove button to the list item
                listItem.appendChild(removeButton);

                // Append the list item to the container
                fileListContainer.appendChild(listItem);
            }

        }

        function createRemoveHandler(input, file) {
            return function (event) {
                event.preventDefault(); // Prevent form submission

                // Remove the file from the input's files array
                var newFiles = Array.from(input.files).filter(function (f) {
                    return f !== file;
                });

                // Create a new FileList and assign it to the input
                var newFileList = new DataTransfer();
                newFiles.forEach(function (f) {
                    newFileList.items.add(f);
                });
                input.files = newFileList.files;

                // Get the container ID
                var fileListContainerId = input.getAttribute("data-file-list-container");

                // Remove the corresponding list item from the DOM
                var listItem = event.target.closest("li");
                listItem.parentNode.removeChild(listItem);

                // Update the displayed file list
                handleFileSelection(input, fileListContainerId);
            };
        }



    </script>

}
